* {
  margin: 0;
  padding: 0;
}
body {
  font: 1rem Arial, sans-serif;
  text-align: center;
}
h1 {
  margin: 30px 0 10px;
}
p {
  margin: 5px 0;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 5px;
  background: #ededed;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  font-size: 0.875rem;
}
input {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid slateblue;
}
button {
  background-color: slateblue;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 500px;
  height: 500px;
  margin: 10px auto;
  border: 1px solid #ddd;
  background-color: #ededed;
  border-radius: 5px;
}
.key-info {
  width: fit-content;
  background: #ededed;
  margin: 10px auto;
  padding: 5px;
  font-size: 12px;
  line-height: 1.5;
}
kbd {
  background: #ccc;
  padding: 2px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
