* {
  margin: 0;
  padding: 0;
}
#setGridSize {
  display: block;
  padding: 5px 15px;
  margin: 0 auto;
}
#gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 500px;
  height: 500px;
  margin: 10px auto;
  border: 1px solid;
}
